.DS_Store
*.iml
change-output.md
/.nyc_output/
/node_modules/
/npm-debug.log
before_commit
/coverage/
.idea/
**/dist/
/lib/
/test/
.next/
/docs/
/e2e/test-results/
/e2e/test-report/
/e2e/tests/**/*-snapshots/*.json